body {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, "BlinkMacSystemFont", "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
#logo {
  width: 5.625rem;
}
#main-header form {
  border: 1px solid grey;
  border-radius: 100px;
  padding: 8px 10px;
  display: flex;
  gap: 5px;
  width: 25rem;
  height: 3rem;
}

form button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

form input {
  border: none;
  outline: none;
  width: 100%;
}
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  box-shadow: 0 0 10px 0 rgba(45, 45,24,0.6);
}
#main-header a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}
#main-header #nav1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-header #nav1 li {
  margin: 0 1.25rem;
}
#main-header #btn1-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main-header #btn1-list li {
  margin: 0 2px;
}
#main-header #btn1-list button {
  border: 1px solid #000;
  height: 30px;
}
#btn1-list .btn1 button{
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.btn-menu {
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.btn-menu span {
  width: 100%;
  height: 2px;
  background-color: #000;
}
#side-drawer:target {
  display: block;
}
#side-drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#side-drawer header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.25rem;
}
#side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 4rem 1rem;
}
#side-drawer li {
  margin: 1rem;
  color: #000;
}
.d-block {
  position: relative;
}
.hero-content {
  width: 25rem;
  background-color: white;
  padding: 25px 35px;
  position: absolute;
  top: 70px;
  left: 80px;
}
.hero h1 {
  font-family: "SuisseWorks", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 2.22rem;
  line-height: 2.77rem;
  color: rgb(45, 47, 49);
}
.hero p {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(45, 47, 49);
  font-size: 0.88rem;
  line-height: 1.22rem;
}
.hero-content a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 3px;
}
.customers {
  background-color: rgb(255, 249, 249);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 70px 10px;
}
.customers p {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(106, 111, 115);
  font-size: 1.187rem;
  font-weight: 400;
}
.company {
  /* width: 1200px; */
  margin: 0 auto;
}

.customers .company ul {
  /* margin: 0 auto; */
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.cta {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
}
 .cta h2, .categories h2 {
  font-family: SuisseWorks, Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: rgb(45, 47, 49);
  font-size: 1.77rem;
  line-height: 2.22rem;
  margin-bottom: 10px;
 }
 .cta p {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(45,47,49);
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 20px;
 }
 .cta ul {
  padding-left: 0;
  margin-left: 0;
 }
 .cta a, .categories p {
  font-family: "Udemy Sans", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(45,47,49);
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 1.05rem;
 }
 .training {
  border: 1px solid rgba(45, 45,45, 0.3);
  width: 95%;
  margin-bottom: 70px;
  padding: 45px 25px 30px;
 }
 .training h3 {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: rgb(45, 47, 49);
  font-size: 1.33rem;
  line-height: 1.61rem;
 }
 .training p {
  width: 70%;
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: rgb(45, 47, 49);
  font-size: 0.88rem;
  line-height: 1.22rem;
 }
 .training button {
  border: 1px solid #000;
 }
 .training button a {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: rgb(45, 47, 49);
  font-size: 0.77rem;
  line-height: 0.94rem;
  text-decoration: none;
 }
 .explore {
  margin-top: 2.4rem;
  padding-left: 17px;
  padding-right: 17px;
 }
 .card {
  margin: 0 auto;
  padding: 0;
  border: 0;
 }
 .card-body {
  padding-left: 0;
  padding-right: 0;
 }
 .card-body h5, p {
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 1.05rem;
 }
 .card-img-top {
  border: 1px solid #000;
  border-radius: 0;
 }
 .tutorial .ratings ul {
  margin-right: 2px;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  color: goldenrod;
 }
 .tutorial .ratings li {
  display: inline;
  width: 70%;
 }
 .tutorial .ratings p {
  display: inline;
  width: fit-content;
  margin-right: 2px;
  font-size: 0.83rem;
  font-weight: 500;
 }
 .tutorial .ratings small {
  display: inline;
  margin: 0;
 }
 span {
  text-decoration: line-through;
 }
 .tutorial .ratings {
  display: flex;
  align-content: center;
 }
.testimonials {
  background-color: rgb(240, 240, 240);
  padding: 70px 20px;
}
.testimonials .row {
  margin: 0;
}
.testimonials h2 {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: rgb(45, 47, 49);
  font-size: 1.33rem;
  line-height: 1.61rem;
  margin-left: 10px;
}
.testimonials h3, p {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: rgb(45, 47, 49);
  font-size: 0.88rem;
  line-height: 1.22rem;
}
.testy {
  width: 30%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0, 0.3);
  margin: 20px 10px 20px;
  padding: 25px 25px;
}
.avatar {
  width: 2.22rem;
  height: 2.22rem;
  background-color: #000;
  border-radius: 20px;
}
.avatar p {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  text-align: center;
  padding-top: 6px;
  color: #fff;
}
.testy .name {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: #000;
  display: inline;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 0.77rem;
}
.avatar-icon {
  display: flex;
  align-items: center;
}
.play p {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 0.88rem;
  color: #6411A5;
  margin-top: 10px;
  margin-left: 8px;
}
.play {
  display: flex;
  align-items: center;
}

.popular {
  margin-bottom: 60px;
}
.popular h2 {
  margin-top: 3px;
  margin-left: 17px;
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  color: rgb(45, 47, 49);
  font-size: 1.33rem;
}
.categories .cat-images ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.categories h2 {
  text-align: left;
}
.categories .cat-images ul img {
  width: 15rem;
}
.instructor .tutor-text h3 {
  font-family: "SuisseWorks", Georgia, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.77rem;
  line-height: 40px;
  font-weight: 700;
  color: rgb(45, 47, 49);
  margin-bottom: 20px;
}
.instructor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 90px;
  padding-left: 40px;
  padding-right: 30px;
}
.instructor .tutor-image {
  padding-right: 0;
  width: 12rem;
}
.instructor .tutor-text {
  width: 30%;
  margin-left: 30px;
}
.instructor .tutor-text p {
  font-family: "Udemy Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: rgb(45, 47, 49);
  font-size: 1.05rem;
  line-height: 1.5rem;
  padding-bottom: 15px;
}
.instructor .tutor-text a {
  font-size: 0.88rem;
  line-height: 1.05rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  padding: 15px;
  text-decoration: none;
}
footer {
  background-color: #000;
  position: relative;
  padding: 40px 40px 20px;
  height: 250px;
}
footer .finish ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer .finish li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.77rem;
  line-height: 1.11rem;
}
footer .finish li a:hover {
  text-decoration: underline;
}
footer .footer-first button {
  background-color: #000;
  display: flex;
  border: 2px solid #fff;
  padding-bottom: 0;
  color: #fff;
  top: 40px;
  right: 40px;
  position: absolute;
}
footer .footer-first button p {
  color: #fff;
  margin-left: 10px;
}
footer .footer-first .top-table {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 40px;
}
footer .footer-second {
  display: flex;
  justify-content: space-between;
  /* z-index: -1; */
}
footer .footer-second .footerlogo {
  width: 90px;
  /* z-index: 1; */
}
footer .footer-second .ft {
  display: inline;
  color: #fff;
}
@media (max-width:1024px){
  #main-header form {
    display: none;
  }
}
@media screen and (max-width:970px){
  .hero-content{
    position: static;
    width: 100%;
  }
  .hero h1 {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
}
@media (max-width:768px) {
  #main-header nav, #btn1-list {
    display: none;
  }
  .btn-menu{
    display: flex;
  }
  .customers .company ul {
    /* margin: 0 auto; */
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .categories .cat-images ul img {
    width: 100px;
  }
}
@media screen and  (max-width:600px) {
  .instructor {
    display: initial;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .instructor .tutor-text {
    width: 100%;
    box-sizing: border-box;
  }
  /* .categories .cat-images ul {
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 5px;  
  }*/
}
